torch 
mmengine
torchvision
mmcv
cython
numpy
cityscapesscripts
emoji
fairscale
imagecorruptions
scikit-learn
matplotlib
numpy
pycocotools
scipy
shapely
six
terminaltables
tqdm
urllib3<2.0.0
opencv-python-headless

